.trip-save-info {
    @include display-flex;
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
    @include align-items(center);
    height: 56px;
    padding: 0 16px;
    user-select: none;
    -webkit-user-select: none;
    
    .name {
        margin-right: 24px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        max-height: 56px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        @include adjust-font-size-to(16px);
    }
    .days {
        @include display-flex(inline-flex);
        @include flex-flow(row nowrap);
        @include justify-content(center);
        @include align-items(center);
        @include adjust-font-size-to(14px);
        @include flex(0 0 45px);
        color: #666;
    }
}